{% extends 'base.html' %}
{% block content%}
<br>
<div class="container-fluid">
    <ins>
        <h3 align="center">Sprints del Proyecto</h3>
    </ins>
    <br>
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            <table class="table">
                <thead>
                    <tr class="table-primary">
                        <th>Objetivo</th>
                        <th>Posición</th>
                        <th>Estado</th>
                        <th>Num. Tareas</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sprint in sprints %}
                    <tr>
                        <td><a href="{% url 'proyectos:ver_sprint' sprint.proyecto.id sprint.id%}">{{sprint.id}}</a>
                        </td>
                        <td>{{sprint.objetivo}}</td>
                        <td>{{sprint.posicion}}</td>
                        <td>{{sprint.estado}}</td>
                        <td>{{sprint.numTareas}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p align="center">
                <a href="{% url 'proyectos:nuevo_sprint' proyecto %}" class="btn btn-primary" role="button">Crear
                    Sprint</a>
                <a class="btn btn-primary" href="{% url 'proyectos:ver_proyecto' proyecto %}" role="button">Volver</a>
            </p>
        </div>
        <div class="col-md-3">

        </div>
    </div>
</div>
{% endblock %}