{% extends 'base.html' %}

{% block content %}

  <div><h4>Tareas</h4></div>
 
  <div class="dropdown show">
    <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Crear
    </a>
  
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>
</br>
<div class="container-fluid">
    <main>
        <div class="row">  
           
          
          <div class="col-md-4">
            <div class="col-md-12" style="background-image:linear-gradient(-90deg,rgb(140, 125, 224),rgb(65, 37, 139))">
                <p>To do</p>  
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Mensaje</h5>
                      <p class="card-text">
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item"><a href="<3">Tarea 1</li>
                          <li class="list-group-item"><a href="#">Tarea 7</li>
                          <li class="list-group-item"><a href="#">Tarea 3</li>
                          <li class="list-group-item"><a href="#">Tarea 8</li>                          
                        </ul>
                      </p>
                      <a href="#" class="btn btn-primary">next</a>
                    </div>
                  </div>      
            </div>
          </div>
        



            <div class="col-md-4">
              <div class="col-md-12" style="background-image:linear-gradient(-90deg,rgb(140, 125, 224),rgb(65, 37, 139))">
                  <p>Doing</p>
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Mensaje</h5>
                      <p class="card-text">
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item"><a href="#">Tarea 2</li>                       
                          <li class="list-group-item"><a href="#">Tarea 5</li>
                          <li class="list-group-item"><a href="#">Tarea 9</li>
                        </ul>
                      </p>
                      <a href="#" class="btn btn-primary">next</a>
                    </div>
                  </div>
              </div>
            </div>
          




          <div class="col-md-4">
            <div class="col-md-12" style="background-image:linear-gradient(-90deg,rgb(140, 125, 224),rgb(65, 37, 139))">
                <p>Done</p>
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Mensaje</h5>
                    <p class="card-text">
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="#">Tarea 4</li>
                        <li class="list-group-item"><a href="#">Tarea 6</li>
                      </ul>
                    </p>
                    <a href="#" class="btn btn-primary">next</a>
                  </div>
                </div>
            </div>    
          </div>



        </div>
    </main>
      
</div>
{% endblock %}