{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <ins>
        <h3 align="center">Proyectos</h3>
    </ins>
    <br>
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8">
            {% if object_list%}
            <table class="table">
                <thread>
                    <tr class="table-primary">
                        <td scope="col"> ID </td>
                        <td scope="col"> Nombre </td>
                        <td scope="col"> Descripcion </td>
                        <td scope="col"> Scrum Master </td>
                        <td scope="col"> Fecha de creacion </td>
                        <td scope="col"> Sprints </td>
                        <td scope="col"> Estado </td>
                        <td scope="col"> Acciones </td>
                    </tr>
                </thread>
                <tbody>
                    {% for proyecto in object_list%}
                    <tr>
                        <td>{{ proyecto.id }}</td>
                        <td>{{ proyecto.nombre }}</td>
                        <td>{{ proyecto.descripcion }}</td>
                        <td>{{ proyecto.scrumMaster }}</td>
                        <td>{{ proyecto.fechaCreacion }}</td>
                        <td>{{ proyecto.numSprints }}</td>
                        <td>{{ proyecto.estado }}</td>
                        <td>
                            <a class="btn boton-color" role="button"><i class="fas fa-pen"></i></a>
                            <a class="btn btn-danger" role="button"
                                href="{% url 'proyectos:eliminar_proyectos' proyecto.id %}"><i
                                    class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <h3 align="center"> No existen proyectos creados </h3>
            {% endif %}
            <div align="right">
                <a class="btn boton-color" href="{% url 'proyectos:nuevo_proyecto' %}"> Crear Proyecto </a>
                <a class="btn boton-color" href="{% url 'usuarios:administrador' %}"> Volver </a>
            </div>
        </div>
        <div class="col-md-2">

        </div>
    </div>
</div>

{% endblock %}