body {
    margin: 0;
    padding: 0;
    background: #0d1117;
}

.navbar {
    background: -webkit-linear-gradient(right,#00dbde,#fc00ff);
    background: linear-gradient(right,#00dbde,#fc00ff);
    background: -o-linear-gradient(right,#00dbde,#fc00ff);
    background: -moz-linear-gradient(right,#00dbde,#fc00ff);
    padding: 5px;
}